:root {
    --bg-clr: rgb(255, 255, 255);
    --txt-clr: rgb(53, 145, 106);
}

body {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 20px;
}

#title_bar {
    display: flex;
    justify-content: right;
}

#btn_toggle_dark_mode {
    all: unset;
    cursor: pointer;
}

#banner_container {
    display: inline-block;
    width: 100%;
}

.centerProperty {
    display: flex;
    justify-content: center;
}

#banner_image img {
    margin: 2%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
}

#banner_text {
    text-align: center;
}

.hyperlink {
    background-color: var(--txt-clr);
    text-decoration: none;
    color: var(--bg-clr);
    border-radius: 2px;
    padding: 0px 2px;
}

.dark_mode {
    --bg-clr: rgb(0, 0, 0);
    --txt-clr: rgb(0, 68, 0);

    #banner_image img {
        filter: brightness(40%)
    }
}