body {
    background-color: rgb(255, 255, 255);
    color: rgb(53, 145, 106);
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 20px;
}

#banner_container {
    display: inline-block;
    width: 100%;
}

.centerProperty {
    display: flex;
    justify-content: center;
}

#banner_image img {
    margin: 2%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
}

#banner_text {
    text-align: center;
}